mixin workshop-item(workshop, link_target = "_self")
    .workshop-item(class=workshop.outdated ? "workshops-outdated" : "", id="workshop-item-" + workshop.id)
        a(href="/workshop/" + workshop.id target=link_target)
            .workshops-image-container
                img(src=workshop.img || "/public/img/workshop-default.png")
                .workshops-draft-text
                    unless workshop.visible
                        | Entwurf
            .workshop-text(style=`background-color: ${workshop.color}; color: ${workshop.textColor}`)
                h2 #{workshop.title}
                h4
                    unless workshop.propertiesHidden
                        | #{workshop.timeText}
