include ../includes/utils.pug

doctype html
html
    head
        title #{title}
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet")
        style.
            .centered-container {
                max-width: 1100px;
                width: 100%;
                display: inline-block;
                box-sizing: border-box;
            }

            #message-container {
                text-align: center;
                font-family: Roboto;
                background-color: white;
            }

            #message-container h1 {
                margin-top: 0;
            }

            #message-container div {
                padding: 10px;
            }

            #message-container a {
                text-decoration: none;
                color: inherit;
            }

            #description-container a {
                font-weight: bold;
            }

            #header {
                background-color: white;
            }

            #header img {
                display: block;
                height: 80px;
            }

            #title-container {
                color: #{textColor};
                background-color: #{color};
            }

            #title-container img {
                width: 100%;
            }

            #description-container {
                text-align: left;
            }

            #properties-container {
                width: 100%;
                background-color: #{color};
                color: #{textColor};
                margin-top: 10px;
                text-align: left;
                box-sizing: border-box;
            }

            #properties-container > h4 {
                margin: 10px;
            }

            .property {
                float: left;
                display: block;
                width: calc(100% / 4 - 20px);
                text-align: left;
                vertical-align: top;
            }

            .property h4 {
                display: inline;
            }

            @media screen and (max-width: 750px) {
                .property {
                    float: none;
                    width: 100%;
                }
            }

            #footer, #footer * {
                color: black;
            }

            .clearfix::after {
                content: "";
                clear: both;
                display: table;
            }

    body
        p.
            Falls die E-Mail nicht korrekt angezeigt wird, kannst du sie #[a(href=website) hier im Browser anschauen].
        #message-container
            #header.centered-container
                img(src=logo)
            #title-container
                .centered-container
                    h1
                        a(href=website)!= marked.parseInline(title)
                    img(src=img)
            .centered-container
                #description-container
                    != marked(content)
                unless propertiesHidden
                    #properties-container.clearfix
                        h4
                            a(href=website)!= marked.parseInline(title)
                        .property
                            h4 Wann?
                            br
                            | #{dateText}
                            br
                            | #{timeText}
                        .property
                            h4 Wo?
                            br
                            != marked.parseInline(location)
                        .property
                            h4 Beitrag?
                            br
                            != marked.parseInline(price)
                        .property
                            h4 Anmelden?
                            br
                            != marked.parseInline(email)
            #footer
                a(href="https://improtheater-frankfurt.de/impressum") Impressum
                = " | "
                a(href="https://improglycerin.de/datenschutz") Datenschutz
                = " | "
                a(href="https://improglycerin.de/kontakt/") Kontakt
                = " | "
                if subscriber.subscribedTo == 1 || subscriber.subscribedTo == 2
                    a(href=subscribe) #[+newsletterName(~subscriber.subscribedTo)] abonnieren
                    = " | "
                a(href=unsubscribe) Abmelden
