include ../includes/utils.pug

doctype html
html
    head
        title #{subject}
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        style.
            @font-face {
                font-family: "Roboto";
                font-style: normal;
                font-display: swap;
                font-weight: 400;
                src: url("#{base_url}/roboto/roboto-latin-400-normal.woff2") format("woff2"), url("#{base_url}/roboto/roboto-latin-400-normal.woff") format("woff");
                unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
            }
            @font-face {
                font-family: "Roboto";
                font-style: normal;
                font-display: swap;
                font-weight: 700;
                src: url("#{base_url}/roboto/roboto-latin-700-normal.woff2") format("woff2"), url("#{base_url}/roboto/roboto-latin-700-normal.woff") format("woff");
                unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
            }

        <!--[if mso]>
            style.
                td, span, h1 {
                    font-family: Helvetica !important;
                };
        <![endif]-->

    body(style="color:black; background-color: white;")
        p.
            Falls die E-Mail nicht korrekt angezeigt wird, kannst du sie #[a(href=preview_link) hier im Browser anschauen].

        table(cellpadding="0" cellspacing="0" width="100%" style="color: inherit; background-color: inherit; border-collapse: collapse;")
            tr
                td
                td(width="650" height="80")
                    img(src=logo style="display: block; height: 60px; margin-bottom: 20px;")
                td
            each workshop, index in workshops
                - var marked_colored_block = workshop.textColorResolved === "#ffffff" ? marked_white_links : marked_black_links;
                if index > 0
                    tr(height="20px")
                tr
                    td
                    td(width="650")
                        img(src=workshop.img_url style="display: block; width: 100%;")
                    td
                tr
                    td
                    td(width="650")
                        div(style="font-family: Roboto, Helvetica; font-size: 16px; line-height: 1.5;")
                            div(style=`background-color: ${workshop.color}; color: ${workshop.textColorResolved}; padding: 20px;`)
                                h1(style="margin-top: 20px; font-size: 30px; margin: 0; line-height: 1.2;")
                                    a(href=workshop.website style=`color: ${workshop.textColorResolved}; text-decoration: none;`) #{workshop.title}
                                unless workshop.propertiesHidden
                                    span #{workshop.dateText}, #{workshop.timeText}, !{marked_colored_block.parseInline(workshop.email)}
                                    br
                                    span !{marked_colored_block.parseInline(workshop.location)}
                        div(style="font-family: Roboto, Helvetica; padding: 10px;")
                            != marked_black_links.parse(workshop.content)
                    td

            tr
                td(height=20)
            tr
                td(colspan="3" height="2" style="background-color: #cf0d2b;")
            tr(style="color: black; text-align: center;")
                td
                td(style="padding: 10px; font-family: Roboto, Helvetica; font-size: 16px;")
                    a(href="https://improtheater-frankfurt.de/impressum" style="text-decoration: none; color: black;") Impressum
                    = " | "
                    a(href="https://improtheater-frankfurt.de/datenschutz" style="text-decoration: none; color: black;") Datenschutz
                    = " | "
                    a(href="https://improglycerin.de/kontakt/" style="text-decoration: none; color: black;") Kontakt
                    = " | "
                    if subscriber.subscribedTo == 1 || subscriber.subscribedTo == 2
                        a(href=subscribe style="text-decoration: none; color: black;") #[+newsletterName(~subscriber.subscribedTo)] abonnieren
                        = " | "
                    a(href=unsubscribe style="text-decoration: none; color: black;") Abmelden
                td
