include ../includes/utils.pug

doctype html
html
    head
        title #{title}
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        style.
            #message-container div {
                padding: 10px;
            }

            #message-container a {
                text-decoration: none;
                color: inherit;
            }

            #description-container a {
                font-weight: bold;
            }

            /*
            properties are set to mobile by inline styles - for Gmail (IMAP)
            they get set to desktop here - for Thunderbird
            */
            #properties-table-desktop {
                display: table !important;
            }

            #properties-table-mobile {
                display: none !important;
            }

            /*
            properties are set to mobile by media query - for all clients that support media queries and style blocks
            */
            @media screen and (max-width: 750px) {
                #properties-table-desktop {
                    display: none !important;
                }

                #properties-table-mobile {
                    display: table !important;
                }
            }

        style.
            @font-face {
                font-family: "Roboto";
                font-style: normal;
                font-display: swap;
                font-weight: 400;
                src: url("#{base_url}/roboto/roboto-latin-400-normal.woff2") format("woff2"), url("/roboto/roboto-all-400-normal.woff") format("woff");
                unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
            }
            @font-face {
                font-family: "Roboto";
                font-style: normal;
                font-display: swap;
                font-weight: 700;
                src: url("#{base_url}/roboto/roboto-latin-700-normal.woff2") format("woff2"), url("/roboto/roboto-all-700-normal.woff") format("woff");
                unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
            }

    body(style="color:black; background-color: white;")
        p.
            Falls die E-Mail nicht korrekt angezeigt wird, kannst du sie #[a(href=website) hier im Browser anschauen].
        #message-container(style="text-align: center; font-family: Roboto;")
            table(cellpadding="0" cellspacing="0" width="100%" style="color: inherit; background-color: inherit; border-collapse: collapse;")
                tr
                    td
                    td(width="900" height="80")
                        img(src=logo style="display: block; height: 60px; margin-bottom: 20px;")
                    td
                tr(style=`color: ${textColor}; background-color: ${color};`)
                    td
                    td(width="900" style="text-align: center; padding: 10px;")
                        h1(style="margin-top: 20px;")
                            a(href=website style="color: inherit;")!= marked.parseInline(title)
                        img(src=img style="width: 100%;")
                    td
                tr
                    td
                    td(width="900")
                        #description-container(style="text-align: left;")
                            != marked(content)
                        unless propertiesHidden
                            <!--[if !mso]><!-->
                            table#properties-table-desktop(cellpadding="0" cellspacing="0" width="100%" style=`display: none; text-align: left; background-color: ${color}; color: ${textColor}; padding: 15px; margin-top: 10px; table-layout: fixed;`)
                                thead
                                    tr
                                        th(colspan=4 style="padding-bottom: 10px;")
                                            a(href=website style="color: inherit;")!= marked.parseInline(title)
                                tbody
                                    tr
                                        th Wann?
                                        th Wo?
                                        th Beitrag?
                                        th Anmelden?
                                    tr
                                        td
                                            | #{dateText}
                                            br
                                            | #{timeText}
                                        td
                                            != marked.parseInline(location)
                                        td
                                            != marked.parseInline(price)
                                        td
                                            != marked.parseInline(email)
                            table#properties-table-mobile(cellpadding="0" cellspacing="0" width="100%" style=`display: table; text-align: left; background-color: ${color}; color: ${textColor}; padding: 15px; margin-top: 10px; table-layout: fixed;`)
                                thead
                                    tr
                                        th(style="padding-bottom: 10px;")
                                            a(href=website style="color: inherit;")!= marked.parseInline(title)
                                tbody
                                    tr
                                        th(style="padding-top: 5px;") Wann?
                                    tr
                                        td
                                            | #{dateText}
                                            br
                                            | #{timeText}
                                    tr
                                        th(style="padding-top: 5px;") Wo?
                                    tr
                                        td
                                            != marked.parseInline(location)
                                    tr
                                        th(style="padding-top: 5px;") Beitrag?
                                    tr
                                        td
                                            != marked.parseInline(price)
                                    tr
                                        th(style="padding-top: 5px;") Anmelden?
                                    tr
                                        td
                                            != marked.parseInline(email)
                            <!--<![endif]-->
                            <!--[if mso]>
                            table(cellpadding="0" cellspacing="0" width="100%" style=`text-align: left; background-color: ${color}; color: ${textColor}; padding: 15px; margin-top: 10px; table-layout: fixed;`)
                                thead
                                    tr
                                        th(colspan=4 style="padding-bottom: 10px;")
                                            a(href=website style="color: inherit;")!= marked.parseInline(title)
                                tbody
                                    tr
                                        th Wann?
                                        th Wo?
                                        th Beitrag?
                                        th Anmelden?
                                    tr
                                        td
                                            | #{dateText}
                                            br
                                            | #{timeText}
                                        td
                                            != marked.parseInline(location)
                                        td
                                            != marked.parseInline(price)
                                        td
                                            != marked.parseInline(email)
                            <![endif]-->
                    td
            #footer(style="color: black;")
                a(href="https://improtheater-frankfurt.de/impressum" style="text-decoration: none; color: black;") Impressum
                = " | "
                a(href="https://improtheater-frankfurt.de/datenschutz" style="text-decoration: none; color: black;") Datenschutz
                = " | "
                a(href="https://improglycerin.de/kontakt/" style="text-decoration: none; color: black;") Kontakt
                = " | "
                if subscriber.subscribedTo == 1 || subscriber.subscribedTo == 2
                    a(href=subscribe style="text-decoration: none; color: black;") #[+newsletterName(~subscriber.subscribedTo)] abonnieren
                    = " | "
                a(href=unsubscribe style="text-decoration: none; color: black;") Abmelden
