extends ../layout.pug

include ../includes/utils.pug

block routeContent
    link(rel="stylesheet" href="/public/css/subscribers.css")

    h1 Am Newsletter angemeldete Personen
    form#subscribers-add
        table
            thead
                tr
                    th Nr
                    th Name
                    th Email
                    th Newsletter
                    th Gelesen
                    th Entfernen
            tbody
                - let i = 0
                each s in subscribers
                    tr(id=`subscriber-${s.token}`)
                        td #{i}
                        td.subscribers-name #{s.name}
                        td #{s.email}
                        td
                            select.subscribers-subscribedTo
                                each i in [1, 2, 3]
                                    option(value=i selected=i==s.subscribedTo)
                                        +newsletterName(i)
                        td
                            if (s.last_viewed_newsletter)
                                a(href='/workshop/' + s.last_viewed_newsletter)= s.last_viewed_newsletter_date
                            else
                                | Kein newsletter
                        td.subscribers-delete
                            a.icon-delete(onclick=`subscribers_remove('${s.token}', '${s.name}')`)
                    - i++
                else
                    span Niemand ist am Newsletter angemeldet

                tr
                    td
                    td
                        input#subscribers-add-name(type="text" name="name" placeholder="Name")
                    td
                        input#subscribers-add-email(type="email" name="email" placeholder="Email-Adresse")
                    td
                        select#subscribers-add-type
                            each i in [1, 2, 3]
                                option(value=i)
                                    +newsletterName(i)
                    td
                        input(type="submit" value="Hinzufügen")

    a.forceReload(href="/api/newsletter/export" style="display: block; margin-top: 20px;" download="ITF_export.csv") Liste exportieren
