extends ../layout.pug

block routeContent
    h1 BILDER

    input(type="file" name="img" value="Bild auswählen" id="input-uploads-image" accept="image/*")
    input#input-upload-button(type="button" value="Hochladen")

    #uploads-images-list
        for upload in uploads
            .uploads-image(id=`uploads-image-${upload.id}` data-id=upload.id)
                img(src=`/api/upload/${upload.id}` loading="lazy")
                .image-footer
                    p #{upload.name}
                    a(href="javascript:void(0)" data-id=upload.id) LÖSCHEN
