extends ../layout.pug

block routeContent
    h1 ACCOUNTEINSTELLUNGEN

    #user-settings
        form#email-change-form
            label(for="change-email") E-Mail Adresse:
            input(type="email" name="change-email" placeholder=user.email)
            input(type="submit" value="Speichern")

        form#username-change-form
            label(for="change-username") Benutzername:
            input(type="text" name="change-username" placeholder=user.username)
            input(type="submit" value="Speichern")

        form#password-change-form
            label(for="change-password") Passwort:
            input(type="password" name="change-password")
            input(type="submit" value="Speichern")

    if user.admin
        h2#user-list-heading Benutzerliste

        .table
            .table-row
                .table-header(style="display: none;") id
                .table-header Name
                .table-header E-Mail
                .table-header Passwort
                .table-header Admin
                .table-header Voll
                .table-header
                .table-header
            #user-list
                each u in users
                    form
                        .table-data.id_row(style="display: none;") #{u.id}
                        input.table-data(autocomplete="off" type="text" name="username" placeholder=u.username)
                        input.table-data(autocomplete="off" type="email" name="email" placeholder=u.email)
                        input.table-data(autocomplete="off" type="password" name="password")
                        input.table-data(autocomplete="off" type="checkbox" name="admin" checked=!!u.admin)
                        input.table-data(autocomplete="off" type="checkbox" name="full_access" checked=!!u.full_access)
                        input.table-data(type="submit" value="Speichern")
                        a.table-data.user-delete-button(href="javascript:void(0)") &#10799;

            form#user-create-form
                input.table-data(autocomplete="off" type="text" name="username" required)
                input.table-data(autocomplete="off" type="email" name="email" required)
                input.table-data(autocomplete="off" type="password" name="password" required)
                input.table-data(autocomplete="off" type="checkbox" name="admin")
                input.table-data(autocomplete="off" type="checkbox" name="full_access")
                input.table-data(type="submit" value="Erstellen")
                .table-data
