extends ../layout.pug

include ../includes/utils.pug

block head
    meta(property="og:title" content=title)
    meta(property="og:type" content="website")
    meta(property="og:url" content=canonical_url)
    meta(property="og:image" content=img_url)

block routeContent
    h1
        span.workshop-preview-field(data-render="title") #{title}
        if loggedIn
            input.workshop-edit-field.edit-title(type="text" autocomplete="off" data-field="title" value=title)

    div
        img.workshop-image(src=img_url)
        .workshop-right
            if loggedIn || !propertiesHidden
                dl.workshop-right-item.workshop-properties(style=`background-color: ${color}; color: ${textColorResolved}`)
                    if loggedIn
                        .workshop-edit-field
                            input(type="checkbox" name=propertieshidden data-field="propertieshidden" checked=propertiesHidden)
                            label(for=propertieshidden) Infobox verstecken
                            select(name=id data-field="type")
                                each i in [1, 2, 3]
                                    option(value=i selected=(i==type))
                                        +newsletterName(i)
                    dt Wann?
                    dd
                        span.workshop-preview-field.workshop-date(data-render="date") #{dateText}
                        if loggedIn
                            input.workshop-edit-field(type="date" data-field="date" value=dateISO)
                    dd
                        span.workshop-preview-field.workshop-time(data-render="time") #{timeText}
                        if loggedIn
                            .workshop-edit-field
                                input(type="time" data-field="beginTime" value=beginTimeISO)
                                | -
                                input(type="time" data-field="endTime" value=endTimeISO)
                    dt Wo?
                    dd
                        span.workshop-preview-field.workshop-location(data-render="location")!= marked.parseInline(location)
                        if loggedIn
                            input.workshop-edit-field(type="text" autocomplete="off" data-field="location" value=location)
                    dt Kosten?
                    dd
                        span.workshop-preview-field.workshop-price(data-render="price")!= marked.parseInline(price)
                        if loggedIn
                            input.workshop-edit-field(type="text" autocomplete="off" data-field="price" value=price)
                    dt Anmelden?
                    dd
                        span.workshop-preview-field.workshop-email(data-render="email")!= marked.parseInline(email)
                        if loggedIn
                            input.workshop-edit-field(type="text" autocomplete="off" data-field="email" value=email)
                    if loggedIn
                        .workshop-edit-field
                            dt Farbe?
                            dd.workshop-color-edit-field
                                input(type="color" data-field="color" value=color)
                                button.workshop-color-set-default(type="button") Standard
                                button.workshop-color-set-dominant(type="button") Automatisch
                                button.workshop-color-set-reset(type="button") Reset
                        .workshop-edit-field
                            dt Textfarbe?
                            dd
                                select(data-field="textColor")
                                    option(value="" selected=(textColor=="")) Automatisch
                                    option(value="#ffffff" selected=(textColor=="#ffffff")) Weiß
                                    option(value="#000000" selected=(textColor=="#000000")) Schwarz

            if loggedIn
                .workshop-right-item.workshop-edit-field(style="margin-top: 10px;")
                    h3(style="margin: 5px 0") Markdown Beispiele
                    b Überschrift
                    code # Überschrift
                    b Link
                    code [Text](https://example.com)
                    b Fett
                    code **Text**
                    b Kursiv
                    code *Text*

    .workshop-content
        .workshop-preview-field.workshop-content-preview(data-render="content")!= marked.parse(content)
        if loggedIn
            .workshop-edit-field
                p Die Bearbeitungsansicht unterstützt #[a(href="https://guides.github.com/features/mastering-markdown/") Markdown]
                textarea.edit-content(name="content-" + id data-field="content") !{content}

    if loggedIn
        .workshop-options
            = "Workshop: "
            button.edit-button.edit-save(type="button") Speichern
            = " | "
            button.edit-button.edit-edit(type="button") Bearbeiten
            = " | "
            button.edit-button.edit-publish(type="button") #{visible ? "Unsichtbar machen" : "Veröffentlichen"}
            = " | "
            button.edit-button.edit-delete(type="button") Löschen
            = " | "
            button.edit-button.edit-copy(type="button") Kopieren
            br
            span.edit-newsletter
                = "Newsletter: "
                strong.newsletter-sent
                    if newsletterSent
                        = "BEREITS VERSENDET "
                button.edit-button.edit-send(type="button") Senden
                = " | "
                button.edit-button.edit-preview(type="button") Vorschau
                = " | "
                button.edit-button.edit-send-test(type="button") Testmail
                br
                = "Später senden: "
                input.edit-send-time(type="datetime-local")
                .workshop-attachments
