extends ../layout.pug

include ../includes/utils.pug

block head
    meta(property="og:title" content=title)
    meta(property="og:type" content="website")
    meta(property="og:url" content=canonical_url)
    meta(property="og:image" content=img)

block routeContent
    h1
        span.workshop-preview-field.workshop-title!= marked.parseInline(title)
        if loggedIn
            input.workshop-input.workshop-edit-field.edit-title(type="text" autocomplete="off" value=title)

    div
        img.workshop-image(src=img onclick=loggedIn ? "editWorkshopImage()" : "")
        .workshop-right
            if loggedIn || !propertiesHidden
                dl.workshop-right-item.workshop-properties(style=`background-color: ${color}; color: ${textColor}`)
                    if loggedIn
                        .workshop-edit-field
                            input.workshop-input-propertieshidden(type="checkbox" name=propertieshidden checked=propertiesHidden)
                            label(for=propertieshidden) Infobox verstecken
                            select.workshop-input-type(name=id)
                                each i in [1, 2, 3]
                                    option(value=i selected=(i==type))
                                        +newsletterName(i)
                    dt Wann?
                    dd
                        span.workshop-preview-field.workshop-date #{dateText}
                        if loggedIn
                            input.workshop-edit-field.input-workshop-date(type="date" value=dateISO)
                    dd
                        span.workshop-preview-field.workshop-time #{timeText}
                        if loggedIn
                            .workshop-edit-field
                                input.input-workshop-time-begin(type="time" value=beginTimeISO)
                                | -
                                input.input-workshop-time-end(type="time" value=endTimeISO)
                    dt Wo?
                    dd
                        span.workshop-preview-field.workshop-location!= marked.parseInline(location)
                        if loggedIn
                            input.workshop-input.workshop-edit-field.edit-workshop-location(type="text" autocomplete="off" value=location)
                    dt Kosten?
                    dd
                        span.workshop-preview-field.workshop-price!= marked.parseInline(price)
                        if loggedIn
                            input.workshop-input.workshop-edit-field.edit-workshop-price(type="text" autocomplete="off" value=price)
                    dt Anmelden?
                    dd
                        span.workshop-preview-field.workshop-email!= marked.parseInline(email)
                        if loggedIn
                            input.workshop-input.workshop-edit-field.edit-workshop-email(type="text" autocomplete="off" value=email)
                    if loggedIn
                        .workshop-edit-field
                            dt Farbe?
                            dd.workshop-color-edit-field
                                input.input-workshop-color(type="color" value=color)
                                a.workshop-color-set-default(href="javascript:void(0)") Standart
                                a.workshop-color-set-dominant(href="javascript:void(0)") Dominant
                                a.workshop-color-set-reset(href="javascript:void(0)") Reset

            if loggedIn
                .workshop-right-item.workshop-edit-field(style="margin-top: 10px;")
                    h3(style="margin: 5px 0") Markdown Beispiele
                    b Überschrift
                    code # Überschrift
                    b Link
                    code [Text](https://example.com)
                    b Fett
                    code **Text**
                    b Kursiv
                    code *Text*

    .workshop-content
        .workshop-preview-field.workshop-content-preview!= marked.parse(content)
        if loggedIn
            .workshop-edit-field
                p Die Bearbeitungsansicht unterstützt #[a(href="https://guides.github.com/features/mastering-markdown/") Markdown]
                //- The textarea name is important, because the browser will autocomplete content from other textareas without it
                textarea.edit-content(name="content-" + id) !{content}

    if loggedIn
        .workshop-options
            = "Workshop: "
            a(href="javascript:void(0)" onclick="changeWorkshopValues()" class="edit-button edit-save") Speichern
            = " | "
            a(href="javascript:void(0)" onclick="toggleWorkshopPreview()" class="edit-button edit-preview") Bearbeiten
            = " | "
            a(href="javascript:void(0)" onclick="publishWorkshop()" class="edit-button edit-publish") #{visible ? "Unsichtbar machen" : "Veröffentlichen"}
            = " | "
            a(href="javascript:void(0)" onclick="deleteWorkshop()" class="edit-button") Löschen
            = " | "
            a.edit-button(href="javascript:void(0)" onclick="copyWorkshop()") Kopieren
            br
            unless newsletterSent && !full_access
                span.edit-newsletter
                    = "Newsletter: "
                    if newsletterSent
                        strong.newsletter-sent BEREITS VERSENDET
                        = " "
                    a.edit-button(href="javascript:void(0)" onclick="sendNewsletter()") Senden
                    = " | "
                    a.edit-button.forceReload(href="/newsletter-preview/" + id target="_blank") Vorschau
                    = " | "
                    a.edit-button(href="javascript:void(0)" onclick="sendTestNewsletter()") Testmail
