extends ../layout.pug

include ../includes/utils.pug

block routeContent
    link(rel="stylesheet" href="/public/css/workshop.css")
    h1
        if loggedIn
            input.workshop-input.edit-title(type="text" autocomplete="off" value=title)
        else
            span!= marked.parseInline(title)

    div
        img.workshop-image(src=img onclick=loggedIn ? "editWorkshopImage()" : "")
        .workshop-right
            if loggedIn || !propertiesHidden
                dl.workshop-right-item.workshop-properties
                    if loggedIn
                        span(style=`display: ${permissions.includes("hideproperties") ? "inline" : "none"}`)
                            input.workshop-input-propertieshidden(type="checkbox" name=propertieshidden checked=propertiesHidden)
                            label(for=propertieshidden) Infobox verstecken
                        select.workshop-input-type(name=id)
                            each i in [1, 2, 3]
                                option(value=i selected=(i==type))
                                    +newsletterName(i)
                    dt Wann?
                    dd
                        if loggedIn
                            input(type="date" value=dateISO class="input-workshop-date")
                        else
                            | #{dateText}
                    dd
                        if loggedIn
                            input(type="time" value=beginTimeISO class="input-workshop-time-begin")
                            | -
                            input(type="time" value=endTimeISO class="input-workshop-time-end")
                        else
                            | #{timeText}
                    dt Wo?
                    dd
                        if loggedIn
                            input.workshop-input.edit-workshop-location(type="text" autocomplete="off" value=location)
                            .workshop-location-preview
                        else
                            span!= marked.parseInline(location)
                    dt Kosten?
                    dd
                        if loggedIn
                            input.workshop-input.edit-workshop-price(type="text" autocomplete="off" value=price)
                            .workshop-price-preview
                        else
                            span!= marked.parseInline(price)
                    dt Anmelden?
                    dd
                        if loggedIn
                            input.workshop-input.edit-workshop-email(type="text" autocomplete="off" value=email)
                            .workshop-email-preview
                        else
                            span!= marked.parseInline(email)
                    if loggedIn
                        dt Farbe?
                        dd
                            if permissions.includes("restricted")
                                select.input-workshop-color
                                    option(value="#e65656") Rot
                                    option(value="#5663E6") Blau
                                    option(value="#328026") Grün
                                    option(value="#7C8026") Khaki
                                    option(value="#ECD426") Gelb
                            else
                                input(type="color" value=color class="input-workshop-color")
                                | #{color}

            if loggedIn
                .workshop-right-item.workshop-markdown-examples(style="margin-top: 10px;")
                    h3(style="margin: 5px 0") Markdown Beispiele
                    b Überschrift
                    code # Überschrift
                    b Link
                    code [Text](https://example.com)
                    b Fett
                    code **Text**
                    b Kursiv
                    code *Text*

    if loggedIn
        .workshop-content
            p Die Bearbeitungsansicht unterstützt #[a(href="https://guides.github.com/features/mastering-markdown/") Markdown]
            textarea.edit-content(name="content-" + id) !{content}
            //- The textarea name is important, because the browser will autocomplete content from other textareas without it
            .workshop-content-preview
    else
        div.workshop-content!= marked(content)

    if loggedIn
        a(href="javascript:void(0)" onclick="changeWorkshopValues()" class="edit-button edit-save") Speichern
        = " | "
        a(href="javascript:void(0)" onclick="toggleWorkshopPreview()" class="edit-button edit-preview") Vorschau
        = " | "
        a(href="javascript:void(0)" onclick="publishWorkshop()" class="edit-button edit-publish") #{visible ? "Unsichtbar machen" : "Veröffentlichen"}
        = " | "
        unless newsletterSent
            span.edit-newsletter
                a(href="javascript:void(0)" onclick="sendNewsletter()" class="edit-button edit-newsletter") Newsletter senden
                = " | "
                a(href="/newsletter-preview/" + id class="edit-button edit-newsletter forceReload" target="_blank") Newsletter Vorschau
                = " | "
                a(href="javascript:void(0)" onclick="sendTestNewsletter()" class="edit-button edit-newsletter") Newsletter Testmail
                = " | "
        a(href="javascript:void(0)" onclick="deleteWorkshop()" class="edit-button") Löschen
